<div class="container" >
    <div class="row">
          <p>Hola {{persona}} <a class="btn btn-danger" href="/admin/login/logout">Cerrar Sesion <i class="fa-solid fa-right-from-bracket"></i></a></p>
    </div>

    <div class="container">
        <div class="col-7">
            <h3>Computadoras</h3>
        </div>
        <div class="col-5 text-end">
           <a class="btn btn-success" href="/admin/productos/agregar"><i class="fa fa-plus" aria-hidden="true">
            
           </i>Nuevo</a>
        </div>
    </div>

    <div class="container">
        <div class="col">
            <table class="table">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">#</th>
                        <th scope="col">imagen</th>
                        <th scope="col">producto</th>
                        <th scope="col">precio</th>
                        <th scope="col">descuento</th>
                        <th class="text-end">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                         {{#each productos}}
                    <tr>
                        <th scope="row">{{id}}</th>
                        <td>{{imagen}}</td>
                        <td>{{producto}}</td>
                        <td>{{precio}}</td>
                        <td>{{descuento}}</td>
                        <td class="text-end">
                            <a href="#" class="btn btn-sm btn-secondary">
                                <i class="fa fa-pencil"></i></a>
                                <a href="#" class="btn btn-sm btn-secondary">
                                    <i class="fa fa-trash"></i>
                                </a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>